body {
  font-family: "Anek Malayalam", sans-serif;
}

video {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.app-wrapper {
  max-width: 650px;
  background: rgba(225, 200, 155, 0.801);
  margin: 30px auto;
  border-radius: 7px;
  --webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.card,
.form-control {
  background: rgba(231, 224, 187, 0.7);
  border: none;
}

.form-control,
.btn {
  margin-top: 20px;
}

.search-form {
  width: 95%;
  margin-left: 15px;
}

.search-btn {
  background: #497285;
  color: #feffdf;
  border: 1px solid #497285;
}

.current-location-btn {
  background: #4c5374;
  color: #ebffdf;
}

.current-weather {
  margin: 25px auto;
  color: #335260;
}

.city {
  font-size: 28px;
  font-weight: bold;
  line-height: 0.5;
  margin-top: 5px;
}

.current-date {
  font-size: 20px;
  margin-bottom: 10px;
}

.weather-icon {
  width: 56px;
}

.temperature {
  font-size: 38px;
}

.temperature-scale {
  font-size: 12px;
  position: relative;
  bottom: -8px;
}

a.active {
  color: #335260;
}

a.active:hover {
  cursor: default;
}

.weather-description {
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.5;
  position: relative;
  top: 13px;
  margin-left: 10px;
}

.current-values {
  font-size: 12px;
  margin-left: 10px;
}

.daily-forecast {
  margin: 15px auto;
  text-align: center;
  color: #495485;
}

.selected-day {
  transition: 150ms all ease-in-out;
}

.selected-day:hover {
  background: rgba(153, 189, 216, 0.7);
  cursor: pointer;
}

.day-of-week {
  font-size: 18px;
  font-weight: bold;
}

.date {
  font-size: 16px;
  font-style: italic;
  line-height: 0.5;
}

.daily-values {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.daily-icon {
  width: 40px;
}

.min-temp {
  opacity: 0.7;
}

.footer {
  color: #feffdf;
  font-size: 13px;
  font-family: cursive;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
}

.footer a {
  color: #feffdf;
}

.footer a:hover {
  color: #4c5374;
}
