:root {
  --primary-color: #242b59;
  --secondary-color: #f2f2f2;
}

body {
  font-family: "Ibarra Real Nova", serif;
  background: url(../images/landscape.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.app-wrapper {
  max-width: 650px;
  background: rgba(191, 169, 188, 0.5);
  margin: 30px auto;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-control {
  background: rgba(205, 170, 200, 0.8);
  border: none;
}

.card {
  background: none;
  border: none;
}

.form-control,
.btn {
  margin-top: 20px;
}

.search-form {
  width: 95%;
  margin-left: 15px;
}

.search-btn {
  background: #b95484;
  color: var(--secondary-color);
  border: 1px solid #b95484;
}

.search-btn:hover,
.current-location-btn:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
}

.current-location-btn {
  background: #98538c;
  color: var(--secondary-color);
}

.current-weather {
  margin: 50px auto 10px;
  color: var(--primary-color);
}

.city {
  font-size: 34px;
  font-weight: bold;
  line-height: 0.5;
  margin-top: 28px;
}

.current-date {
  font-size: 28px;
}

.temperature {
  font-size: 56px;
  line-height: 1.8;
}

.temperature-scale {
  font-size: 14px;
  position: relative;
  bottom: -24px;
}

a.active {
  color: var(--primary-color);
}

a.active:hover {
  cursor: default;
}

.description {
  margin-top: 24px;
}

.weather-icon {
  max-width: 100px;
}

.weather-description {
  font-size: 42px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.5;
}

.current-values {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: bold;
  line-height: 0.5;
  text-align: center;
}

.daily-forecast {
  margin: 20px auto 0;
  text-align: center;
  color: var(--primary-color);
}

.selected-day {
  transition: 250ms all ease-in-out;
}

.selected-day:hover {
  background: rgba(205, 170, 200, 0.295);
  color: var(--secondary-color);
  cursor: pointer;
  transform: scale(1.05);
  transition: 200ms all ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.day-of-week {
  font-size: 18px;
  font-weight: bold;
}

.date {
  font-size: 16px;
  font-style: italic;
  line-height: 0.5;
}

.daily-values {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.daily-icon {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.min-temp {
  opacity: 0.7;
}

.footer {
  color: var(--secondary-color);
  font-family: "Cormorant Infant", serif;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin: 20px auto;
}

.footer a {
  color: var(--secondary-color);
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .app-wrapper {
    max-width: 300px;
  }
  .form-control,
  .current-location-btn {
    font-size: 12px;
    padding: 6px;
  }
  .search-btn,
  .current-location-btn {
    min-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 10px auto;
  }
  .search-btn {
    margin: 10px 40px;
  }
  .current-location-btn {
    margin: 10px 60px;
  }
  .current-weather {
    margin-top: 15px;
    text-align: center;
  }
  .city,
  .current-date {
    font-size: 30px;
  }
  .weather-icon {
    margin-left: 24px;
  }
  .temperature {
    font-size: 46px;
    margin-top: 14px;
  }
  .temperature-scale {
    font-size: 10px;
    bottom: -36px;
  }
  .description {
    margin-top: 0;
  }
  .weather-description {
    font-size: 28px;
  }
  .current-values {
    font-size: 12px;
  }
  .footer {
    font-size: 10px;
  }
}
